In [1]:
import pandas as pd
import validacionPage as vP

El objetivo de este pequeño informe es crear criterios para establecer un conjunto de páginas en facebook para hacer busquedas por concepto relevantes

#### Algunas especificaciones para entender el cuadro

* **count**: Es la cantidad de post analizados.
* **mean**: Es el promedio.
* **std**: Es la desviación estándar, también conocida como desviación típica. Se entiende como la distancia de los valores al promedio, que se podría entender como la disperción de los datos.
* **min**: Es el valor mínimo de los datos.
* **25%**: Es el primer cuartil, es decir, un cuarto de los datos se posicionan bajo este valor.
* **50%**: Es el segundo cuartil, es decir, la mitad de los datos se posicionan bajo este valor.
* **75%**: Es el tercer cuartil, es decir, 3 de cada 4 de los datos se posicionan bajo este valor.
* **max**: Es el valor máximo de los datos.

## Cuadro descriptivo para Cooperativa

In [2]:
vP.saveParaAnalisis("Cooperativa").describe()

              likes     comments        shares
count    807.000000   807.000000    807.000000
mean     275.669145    99.861214    218.226766
std      878.861139   256.141343    957.462922
min        0.000000     0.000000      0.000000
25%       11.500000     1.000000      0.000000
50%       42.000000    15.000000      6.000000
75%      164.500000    75.000000     55.500000
max    11633.000000  2486.000000  13759.000000

## Cuadro comparativo para ADN Radio

In [3]:
vP.saveParaAnalisis("adncl").describe()

             likes     comments        shares
count   824.000000   824.000000    824.000000
mean    122.010922    92.754854     86.824029
std     409.910157   423.576049    565.438225
min       0.000000     0.000000      0.000000
25%      11.000000     1.000000      0.000000
50%      31.000000    11.000000      6.000000
75%      94.000000    53.000000     26.000000
max    7103.000000  7404.000000  12234.000000

## Cuadro comparativo para Bio Bio

In [4]:
vP.saveParaAnalisis("RadioBioBio").describe()

             likes     comments        shares
count   798.000000   798.000000    798.000000
mean    250.352130    78.687970    169.575188
std     731.592272   182.319082    842.514496
min       0.000000     0.000000      0.000000
25%      24.000000     3.000000      4.000000
50%      62.000000    15.000000     18.000000
75%     184.250000    70.000000     81.000000
max    8266.000000  1688.000000  19416.000000

## Cuadro comparativo para Las Últimas Noticias

In [5]:
vP.saveParaAnalisis("LasUltimasNoticias").describe()

              likes     comments        shares
count    798.000000   798.000000    798.000000
mean     389.812030    99.723058    151.031328
std     1259.305513   263.769037    634.738809
min        0.000000     0.000000      0.000000
25%       10.000000     1.000000      0.000000
50%       32.000000     7.000000      5.500000
75%      271.000000    74.000000     54.750000
max    26701.000000  3933.000000  11537.000000

## Cuadro comparativo para La Tercera

In [6]:
vP.saveParaAnalisis("laterceracom").describe()

             likes    comments       shares
count   798.000000  798.000000   798.000000
mean    114.073935   53.367168    87.699248
std     262.114543  108.501157   338.422071
min       0.000000    0.000000     0.000000
25%      14.000000    2.000000     3.000000
50%      36.000000   14.000000    12.000000
75%      93.000000   52.750000    44.000000
max    4238.000000  984.000000  5122.000000

## Cuadro comparativo para El Mostrador

In [10]:
vP.saveParaAnalisis("elmostrador", 40).describe()

            likes    comments      shares
count  158.000000  158.000000  158.000000
mean    35.379747   18.430380   37.613924
std     66.806557   41.963643  106.851032
min      0.000000    0.000000    0.000000
25%      5.000000    0.000000    2.000000
50%     11.000000    2.000000    6.500000
75%     27.750000   14.750000   17.750000
max    367.000000  277.000000  888.000000

## Cuadro comparativo para Fundación Sol

In [14]:
vP.saveParaAnalisis("fundacionsolchile", 90).describe()

             likes     comments      shares
count   358.000000   358.000000  358.000000
mean    339.480447    52.606145    0.276536
std     550.977708   187.365350    4.423525
min       9.000000     0.000000    0.000000
25%     145.000000    11.000000    0.000000
50%     239.000000    24.000000    0.000000
75%     393.750000    43.750000    0.000000
max    9144.000000  2605.000000   82.000000

## Cuadro comparativo para The Clinic

In [15]:
vP.saveParaAnalisis("thecliniconline").describe()

             likes     comments        shares
count   798.000000   798.000000    798.000000
mean     65.038847    26.578947    113.132832
std     192.163166    80.362639    623.549571
min       0.000000     0.000000      0.000000
25%       5.000000     1.000000      3.000000
50%      14.000000     5.000000      9.000000
75%      40.000000    20.000000     33.000000
max    1869.000000  1311.000000  11555.000000

## Cuadro comparativo para 24 horas

In [16]:
vP.saveParaAnalisis("24horas.cl").describe()

              likes      comments        shares
count    798.000000    798.000000    798.000000
mean     641.221805    369.066416    295.976190
std     2147.232674   1073.826652   1834.087588
min        1.000000      0.000000      0.000000
25%       37.000000     12.250000      0.500000
50%      128.000000     55.500000     18.000000
75%      443.500000    316.500000    134.750000
max    23872.000000  12802.000000  39934.000000

## Cuadro comparativo para Radio Agricultura

In [17]:
vP.saveParaAnalisis("RadioAgricultura").describe()

             likes     comments       shares
count   798.000000   798.000000   798.000000
mean     38.444862    27.417293     9.200501
std     177.081892   164.855216    50.662362
min       0.000000     0.000000     0.000000
25%       2.000000     0.000000     0.000000
50%       6.000000     2.000000     0.000000
75%      15.000000    10.000000     3.750000
max    3328.000000  4073.000000  1075.000000

## Cuadro comparativo para Emol

In [18]:
vP.saveParaAnalisis("emol.cl").describe()

            likes    comments      shares
count  798.000000  798.000000  798.000000
mean    15.954887    3.942356    9.098997
std     38.659281   11.880699   32.605878
min      0.000000    0.000000    0.000000
25%      3.000000    0.000000    0.000000
50%      6.000000    1.000000    2.000000
75%     13.000000    2.000000    7.000000
max    468.000000  168.000000  429.000000

## Cuadro comparativo para CNN Chile

In [19]:
vP.saveParaAnalisis("cnnchile").describe()

             likes     comments        shares
count   578.000000   578.000000    578.000000
mean    195.858131   153.889273    177.652249
std     381.865812   420.727905    692.832894
min       0.000000     0.000000      0.000000
25%      28.000000     8.000000     11.000000
50%      68.500000    27.000000     34.500000
75%     188.000000    94.000000    124.500000
max    4778.000000  4571.000000  12303.000000

## Cuadro comparativo para Mega Noticias

In [20]:
vP.saveParaAnalisis("meganoticiascl").describe()

              likes      comments       shares
count    798.000000    798.000000   798.000000
mean     328.121554    332.234336   159.018797
std      846.843791   1025.986549   608.589142
min        1.000000      0.000000     0.000000
25%       22.250000      3.000000     3.000000
50%       69.500000     20.000000    15.500000
75%      275.500000    154.750000    69.000000
max    12257.000000  11393.000000  8146.000000

## Cuadro comparativo para T13

In [22]:
vP.saveParaAnalisis("teletrece").describe()

             likes     comments       shares
count   309.000000   309.000000   309.000000
mean    166.686084   111.433657   118.656958
std     417.049970   347.283035   509.372996
min       0.000000     0.000000     0.000000
25%      17.000000     1.000000     4.000000
50%      46.000000    13.000000    15.000000
75%     140.000000    73.000000    72.000000
max    3880.000000  4340.000000  7725.000000

## Cuadro comparativo para Publimetro Chile

In [23]:
vP.saveParaAnalisis("publimetro").describe()

            likes    comments      shares
count  150.000000  150.000000  150.000000
mean    45.713333   27.186667   12.053333
std    130.848051   73.126110   64.973178
min      0.000000    0.000000    0.000000
25%      3.000000    0.000000    0.000000
50%      7.000000    3.000000    1.000000
75%     28.250000   12.000000    7.000000
max    977.000000  532.000000  784.000000

## Cuadro comparativo para Chilevision Noticias

In [24]:
vP.saveParaAnalisis("chvnoticias").describe()

            likes    comments      shares
count   26.000000   26.000000   26.000000
mean    20.000000   23.423077   12.884615
std     52.818179   60.462996   36.413544
min      0.000000    0.000000    0.000000
25%      3.250000    2.000000    0.000000
50%      7.000000    5.000000    3.000000
75%     12.000000    9.500000   10.500000
max    272.000000  298.000000  187.000000

## Cuadro comparativo para Ciper

In [25]:
vP.saveParaAnalisis("ciperchile").describe()

             likes    comments        shares
count   381.000000  381.000000    381.000000
mean    267.160105   27.346457    769.330709
std     273.429935   34.664416   1696.525608
min       0.000000    0.000000      0.000000
25%      95.000000    7.000000     85.000000
50%     184.000000   16.000000    224.000000
75%     357.000000   35.000000    585.000000
max    2697.000000  366.000000  19922.000000

# Estos solo son algunos, la idea es aportar más páginas de facebook para evaluar y tener una pequeña lista de páginas para buscar conceptos claves