In [1]:
import pandas as pd
import validacionPage as vP

El objetivo de este pequeño informe es crear criterios para establecer un conjunto de páginas en facebook para hacer busquedas por concepto relevantes

#### Algunas especificaciones para entender el cuadro

* **count**: Es la cantidad de post analizados.
* **mean**: Es el promedio.
* **std**: Es la desviación estándar, también conocida como desviación típica. Se entiende como la distancia de los valores al promedio, que se podría entender como la disperción de los datos.
* **min**: Es el valor mínimo de los datos.
* **25%**: Es el primer cuartil, es decir, un cuarto de los datos se posicionan bajo este valor.
* **50%**: Es el segundo cuartil, es decir, la mitad de los datos se posicionan bajo este valor.
* **75%**: Es el tercer cuartil, es decir, 3 de cada 4 de los datos se posicionan bajo este valor.
* **max**: Es el valor máximo de los datos.

## Cuadro descriptivo para Cooperativa

In [2]:
vP.saveParaAnalisis("Cooperativa").describe()

              likes     comments        shares
count    807.000000   807.000000    807.000000
mean     275.669145    99.861214    218.226766
std      878.861139   256.141343    957.462922
min        0.000000     0.000000      0.000000
25%       11.500000     1.000000      0.000000
50%       42.000000    15.000000      6.000000
75%      164.500000    75.000000     55.500000
max    11633.000000  2486.000000  13759.000000

## Cuadro comparativo para ADN Radio

In [3]:
vP.saveParaAnalisis("adncl").describe()

             likes     comments        shares
count   824.000000   824.000000    824.000000
mean    122.010922    92.754854     86.824029
std     409.910157   423.576049    565.438225
min       0.000000     0.000000      0.000000
25%      11.000000     1.000000      0.000000
50%      31.000000    11.000000      6.000000
75%      94.000000    53.000000     26.000000
max    7103.000000  7404.000000  12234.000000

## Cuadro comparativo para Bio Bio

In [4]:
vP.saveParaAnalisis("RadioBioBio").describe()

             likes     comments        shares
count   798.000000   798.000000    798.000000
mean    250.352130    78.687970    169.575188
std     731.592272   182.319082    842.514496
min       0.000000     0.000000      0.000000
25%      24.000000     3.000000      4.000000
50%      62.000000    15.000000     18.000000
75%     184.250000    70.000000     81.000000
max    8266.000000  1688.000000  19416.000000

## Cuadro comparativo para Las Últimas Noticias

In [5]:
vP.saveParaAnalisis("LasUltimasNoticias").describe()

              likes     comments        shares
count    798.000000   798.000000    798.000000
mean     389.812030    99.723058    151.031328
std     1259.305513   263.769037    634.738809
min        0.000000     0.000000      0.000000
25%       10.000000     1.000000      0.000000
50%       32.000000     7.000000      5.500000
75%      271.000000    74.000000     54.750000
max    26701.000000  3933.000000  11537.000000

## Cuadro comparativo para La Tercera

In [6]:
vP.saveParaAnalisis("laterceracom").describe()

             likes    comments       shares
count   798.000000  798.000000   798.000000
mean    114.073935   53.367168    87.699248
std     262.114543  108.501157   338.422071
min       0.000000    0.000000     0.000000
25%      14.000000    2.000000     3.000000
50%      36.000000   14.000000    12.000000
75%      93.000000   52.750000    44.000000
max    4238.000000  984.000000  5122.000000

## Cuadro comparativo para El Mostrador

In [10]:
vP.saveParaAnalisis("elmostrador", 40).describe()

            likes    comments      shares
count  158.000000  158.000000  158.000000
mean    35.379747   18.430380   37.613924
std     66.806557   41.963643  106.851032
min      0.000000    0.000000    0.000000
25%      5.000000    0.000000    2.000000
50%     11.000000    2.000000    6.500000
75%     27.750000   14.750000   17.750000
max    367.000000  277.000000  888.000000

## Cuadro comparativo para Fundación Sol

In [ ]:
vP.saveParaAnalisis("fundacionsolchile").describe()

## Cuadro comparativo para The Clinic

In [ ]:
vP.saveParaAnalisis("thecliniconline").describe()

## Cuadro comparativo para 24 horas

In [ ]:
vP.saveParaAnalisis("24horas.cl").describe()

## Cuadro comparativo para Radio Agricultura

In [ ]:
vP.saveParaAnalisis("RadioAgricultura").describe()

## Cuadro comparativo para Emol

In [ ]:
vP.saveParaAnalisis("emol.cl").describe()

## Cuadro comparativo para CNN Chile

In [ ]:
vP.saveParaAnalisis("cnnchile").describe()

## Cuadro comparativo para Mega Noticias

In [ ]:
vP.saveParaAnalisis("meganoticiascl").describe()

## Cuadro comparativo para T13

In [ ]:
vP.saveParaAnalisis("teletrece").describe()

## Cuadro comparativo para Publimetro Chile

In [ ]:
vP.saveParaAnalisis("publimetro").describe()

## Cuadro comparativo para Chilevision Noticias

In [ ]:
vP.saveParaAnalisis("chvnoticias").describe()

## Cuadro comparativo para Ciper

In [ ]:
vP.saveParaAnalisis("ciperchile").describe()

# Estos solo son algunos, la idea es aportar más páginas de facebook para evaluar y tener una pequeña lista de páginas para buscar conceptos claves